.BOTON{  
    background-color: darkseagreen;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    
}

.BOTON:hoiver{
    opacity: 5px;
}

.BOTON:active{
    transform: scale(0.8);
}
html{
    background-color: palegoldenrod;
}

.t{
    
    border: 1px solid black;
    align-content: center;
}
td{
    border: 1px solid gray;
    padding: 5px 20px;
}